.dh-select-input {
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 5px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding: 4px 15px;
    vertical-align: middle;
    white-space: nowrap;
}

.dh-select-list {
    background-color: #fff;
    border: solid 1px #E9E9E9;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    left: 0;
    margin: 0;
    max-height: 500px;
    min-width: 100%;
    overflow-y: scroll;
    position: static;
    padding: 0;
    top: 100%;
    z-index: 2000;
}

.dh-select-list ul {
    background-color: #E9E9E9;
    border: none;
    border-radius: 0;
    max-height: none;
    overflow-y: hidden;
}

.dh-select-list li {
    border: solid 1px #E9E9E9;
    border-bottom: none;
    box-sizing: border-box;
}

.dh-select-list li.has-children > label:after {
    border-bottom: 4px solid;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: none;
    content: " ";
    display: inline-block;
    float: right;
    height: 0;
    left: 0px;
    margin-left: -20px;
    margin-top: -2px;
    position: relative;
    top: 10px;
    vertical-align: middle;
    width: 0;
}

.dh-select-list li.has-children.collapsed > label:after {
    border-bottom: none;
    border-top: 4px solid;
}

.dh-select-list li:last-child {
    border-bottom: solid 1px #e9e9e9;
}

.dh-select-list li > label {
    background-color: #fff;
    border: none;
    color: #333;
    line-height: 20px;
    padding: 8px 15px;
    overflow: hidden;
    white-space: nowrap;
}
