#select-place {
    width: 250px;
}

/*------------------------*/

.dh-select-input {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
}

.dh-select-list,
.dh-select-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dh-select-list ul {
    padding-left: 10px;
    width: 100%;
    box-sizing: border-box;
}

.dh-select-list li {
    width: 100%;
}

.dh-select-list li > input {
    display: none;
}

.dh-select-list li > label {
    border: solid 1px #aaa;
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
}

.dh-select-list .collapsed {
    display: none;
}

.dh-select-list .has-children > label {
    font-weight: bold;
}

/*
body {
    background: #333;
    color: #fff;
}

#d {
    float: left;
    width: 300px;
}

.dh-select-list {
    float: left;
    width: 100%;
}

label {
    cursor: pointer;
}

ul {
    float: right;
    display: block;
    border: solid 1px #ddd;
    width: 90%;
    padding: 0;
    margin: 0;
}

li {
    float: right;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    color: white;
}

input {
    display: none;
}

input:checked + label {
    font-weight: bold;
}

label {
    float: left;
    display: block;
    width: 100%;
    height: 40px;
    border: solid 1px #ddd;
}

li.dh-have-sub-list {
    color: green;
}

li.dh-have-sub-list.collapsed {
    color: red;
}
*/
